html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    text-align: center;
}

.container > * {
    margin: 0.5rem 0;
}

.inputForms {
    width: calc(404px - (2 * 1.5em));
    padding: 0 1.5em;
}

.inputForms, .textInputs {
    display: flex;
    flex-direction: column;
    align-content: stretch;

}


input:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
    border: black 1px solid;
}

#submit:disabled, input:disabled + label, #delete:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

#submit, #delete, .saveButtons > button {
    all: unset;
    margin-top: 1em;
    align-self: center;
    cursor: pointer;
    background-color: #9ade60;
    border-radius: 10px;
    padding: 0.7rem;
}

#delete {
    background-color: #3535fd;
    color: whitesmoke;
}

.buttonGrp {
    display: flex;
    justify-content: space-evenly;
}

.renderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: #9ade60 2px solid;
}

.renderContainer > img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.textInputs {
    padding: 0 1.5em;
    margin: 0.5em 0;
}

.inputDuo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0.5rem 0;
}

.inputDuo label {
    text-align: left;
    flex-grow: 1;
    flex-shrink: 0;
}

.inputDuo > input {
    border: black 1px solid;
    width: 18em;
}

.saveButtons {
    display: flex;
    justify-content: space-around;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}


[type="file"] + label {
    background-color: #9ade60;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.7rem;
    text-align: center;
    transition: all 0.3s;
}

.inputFile {
    display: flex;
    width: 100%;
    justify-content: center;
}

[type="file"]:hover + label:hover {
    filter: brightness(85%);
}

.fileUpload {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #99c793;
    border-radius: 50px;
    overflow: hidden;
}